---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.categories.metalab %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{site.baseurl}}{{post.url}}">L{{post.lab}}: {{ post.title }}</a>
      
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
    <dl>
    {% assign tasks = site.categories.lab | sort: "task"  %}
    {% for task in tasks %}
      {% if task.lab == post.lab %}
        <dt><a href="{{ site.baseurl }}{{ task.url }}">L{{post.lab}}.{{task.task}}: {{ task.title }}</a></dt>
        <dd>{{ task.brief }}</dd>  
      {% endif %}
    {% endfor %}
    </dl>
    {% comment %}{{ post.content }}{% endcomment %}
  </article>
  {% endfor %}
</div>
